body{font-family: Arial, Helvetica Neue, Helvetica, sans-serif;}
ul{list-style: none; padding:0;}

.container{max-width: 1075px;}

/*== Header CSS
========================*/
ul.submenu { position: absolute; z-index: 9; background: #fff; border: 1px solid #ccc; border-top: 0; display:none;}
.navigation { float:left;width:100%;}
.navigation li { float:left;}
.navigation li:hover ul.submenu { display:block;}
ul.submenu li { width:100%; margin: 0 auto;}
ul.submenu li a { width:100%; color: #969696; border-bottom: 1px solid #ccc;}
ul.submenu li:last-child { margin:0;}
ul.submenu li:last-child a { border-bottom:0;}
ul.submenu li a:hover { color:#fff;}

.navigation{ padding:0; background: #969696; margin: 0px auto 15px;}
.navigation li{list-style: none; display: inline-block;}
.navigation li a{color:#fff; font-size: 14px; padding: 8px 20px; display: inline-block; text-decoration: none; font-weight:bold;}
.navigation li a:hover, .navigation li.active > a{background: #7ba900; color:#fff;}
.nav{float: left; width: 100%;}
.logo{padding:0;}
.top-header{padding: 20px 0; clear: both; float: left; width: 100%;}
.btn.yellow{background: #7ba900; border: 1px solid #7ba900; color: #fff; color:#fff; font-weight:bold;}
.login-right .btn{width: 100px;}

/*== Left Section CSS
========================*/
.sidebar{border: 2px solid #e9e9e9; padding:0; max-width: 215px;}
.sidebar ul.side-menu{padding: 0 10px; margin-bottom: 25px;}
.sidebar ul.side-menu li{padding: 8px 0; border-bottom: 1px solid #ccc; color:#b3b3b3;}
.sidebar ul.side-menu li a{color: #333333; text-decoration: none; font-size: 13px;}
.sidebar ul.side-menu li i{float: right; font-size: 18px;}
.sidebar ul.side-menu li:last-child{border-bottom:0;}
/*.list-heading{background: #a4a4a4; margin: -2px; padding: 8px 10px; color: #fff; font-weight: bold; font-size: 16px;}*/
.name{color:#333; font-weight:bold;}
.image{float: left; margin-right: 10px;}
.list-unstyled li{float: left; width: 100%; margin: 0 auto 20px;}
.list-unstyled.msg_list{float: left; width: 100%; padding: 15px 10px;}
.list-unstyled.msg_list li a{text-decoration: none;}

/*== Right Section CSS
========================*/
#mainslider{margin-bottom: 25px;}
.carousel-caption{left: 27px; right: auto; width: 365px; text-align: left; bottom: auto; top: 75px; padding: 0; color: #3c3c3c; text-shadow: none; font-size: 18px; font-weight: bold;}
.carousel-caption h2{font-weight: bold; font-size: 40px; letter-spacing: -2px;}
.carousel-caption h2 span{color: #7ba900;}
.carousel-indicators{left: 27px; text-align: left; margin: 0; bottom: 15px;}
.carousel-indicators li{border: none; background: #c8c8c8; width: 8px; height: 8px; margin: 0 1px;}
.carousel-indicators .active{background: #7ba900; width: 8px; height: 8px;}
.right-side{/*width: 860px;*/ padding-right: 0;}
.left-img{padding:0; /*max-width: 240px;*/}
.left-img img{max-width: 100%; width:100%;}
.publish-date{display: inline-block; width: 100%; text-align: left;}
.message{font-size: 12px; color: #656565;}
.publish-date{/*color:#7ba900;*/color: #fff; font-weight:bold; margin: 0 auto 15px;}
.content-area{color:#878787; line-height: 1.5;}
.yellow-btn{background: #7ba900; color:#fff; border:0; color:#fff; font-weight:bold;}
.content-area h3{font-weight:bold; color: #333; margin-top: 0; float: left; width:100%; margin: 0 auto 20px;}
.content-box{clear: both; float: left; width:100%; padding-bottom: 30px; border-bottom: 1px solid #e5e5e5; margin-top: 25px;}
.content-box:first-child{margin-top: 0;}
.pagination{float: left; width:100%; text-align: right; margin: 0;}
.pagination li{display: inline-block;}
.pagination li a{display: inline-block; /*padding: 10px;*/padding: 6px 12px; color:#878787; text-decoration: none;}
.pagination li.next a{font-weight:bold;}
.pagination li.active a{background: #7ba900; color: #FFF; line-height: 10px;}
.post-list .col-md-8{padding-left: 30px; padding-right: 0; width: 605px;}

/*== Footer CSS
========================*/
footer{border-top: 1px solid #e5e5e5; clear: both; padding: 30px 0 0 0; color: #878787; line-height: 1.5;}
footer h3{margin: 0 0 15px 0; font-size: 15px; text-transform: uppercase; color: #333; font-weight: bold;}
footer ul{margin: 0; padding: 0; list-style: none;}
footer li{margin-bottom: 5px;}
footer a{color: #878787;}
footer a:hover{color: #000; text-decoration: none;}
.footer-top{padding-bottom: 25px;}
.footer-col1{width: 470px; float: left; margin-right: 190px;}
.footer-col1 p{margin: 25px 0 0 0;}
.footer-col2{width: 200px; float: left;}
.footer-col3{width: 200px; float: left; float: right;}
.footer-col3 p{margin: 0 0 17px 0;}
.social-links{font-size: 20px;}
.social-links a{margin: 0 20px 0 0;}
.copyright{border-top: 1px solid #f0f0f0; padding: 25px 0; text-align: center;}

/*== About Us CSS
========================*/
.full-width{color: #878787; line-height: 1.6; padding: 10px 0 20px 0; clear: both;}
.full-width h1{font-size: 30px; font-weight: bold; color: #333; margin: 0 0 15px 0;}
.full-width p{margin: 0 0 15px 0;}
.full-width h4{font-size: 15px; font-weight: bold; color: #333; margin: 0 0 8px 0;}
.full-width ul{margin: 0 0 15px 0; padding: 0; list-style: none;}
.full-width ul li{background: url(../images/list-icon.png) no-repeat 0 6px; padding: 0 0 0 18px;}
.imgleft{float: left; margin: 0 30px 10px 0; vertical-align: middle;}
.imgright{float: right; margin: 0 0 10px 40px; vertical-align: middle;}

.post-grids{border-top: 1px solid #e5e5e5; padding: 40px 0 20px 0; margin-top: 50px; color: #878787; line-height: 1.5;}
.post-grids .post-img{margin-bottom: 15px;}
.post-grids h4{color: #d7b71f; text-transform: uppercase; font-size: 13px; margin: 0 0 7px 0;}
.post-grids h3{color: #333; font-size: 18px; font-weight: bold; margin: 0 0 10px 0;}

/*== Login Popup CSS
========================*/
.modal-dialog{max-width: 417px;}
.modal-content{border-radius: 0; padding: 25px 45px 40px; color: #878787; font-size: 13px;}
.modal-header{text-align: center; padding: 0; border: none; margin: 0 0 50px 0;}
.modal-title{font-size: 28px; font-weight: bold; color: #333; margin: 0;}
.modal-header .close{position: absolute; right: 10px; top: 5px; font-weight: normal; font-size: 30px; color: #b2b2b2; opacity: 0.8;}
.modal-body{padding: 0;}
.input-row{margin: 0 0 15px 0; overflow: hidden;}
.input-row input[type='text'], .input-row input[type='password'], .input-row input[type='email'], .input-row textarea{width: 100%; border: 1px solid #d4d4d4; padding: 7px 10px; font-size: 13px; color: #333;}
.modal-footer{padding: 0; border: none;}
.modal-footer .btn{width: 100%; border-radius: 0; border: none; padding: 7px 10px; font-weight: bold;}
.modal-footer .btn:hover{background: #333;}
.remember-me{float: left;}
.forgot-password{float: right; color: #cbaa0e; font-weight: bold;}
.forgot-password:hover{color: #333; text-decoration: none;}
#loginPopup .modal-content{padding-bottom: 50px;}
#registerPopup .modal-header{margin-bottom: 15px;}
.i-agree{}
.i-agree a{color: #cbaa0e; font-weight: bold;}
.i-agree a:hover{color: #333; text-decoration: none;}
.reg-profile-pic{text-align: center; margin: 0 0 7px 0;}
.rpp{width: 97px; height: 97px; border-radius: 50%; overflow-x: hidden; margin: 0 auto 8px auto;}
.rpp img{vertical-align: middle; width: 97px; height: 97px;}
.upload-picture{position: relative; display: inline-block; cursor: pointer; font-weight: normal;}
.upload-picture input{position: absolute; width: 100%; height: 100%; opacity: 0; cursor: pointer;}
.modal-backdrop.in{opacity: 0.7;}

/*== Innovation CSS
========================*/
.service-grids{border-top: 1px solid #e5e5e5; padding: 40px 0 20px 0; margin-top: 50px; color: #878787; line-height: 1.5;}
.service-grids h3{color: #333; font-size: 18px; font-weight: bold; margin: 0 0 10px 0;}
.service-grids h3 img{margin-right: 15px; vertical-align: middle;}

/*== Support CSS
========================*/
.support-header{background: #ebebeb; padding: 70px 15px 80px 15px; clear: both; text-align: center;}
.support-header h1{margin: 0 0 20px 0; font-weight: bold; font-size: 35px; color: #333;}
.support-header input{background: url(../images/search-icon.png) no-repeat 10px center #FFF; border: 1px solid #d4d4d4; padding: 10px 10px 10px 45px; font-size: 16px; width: 510px;}

.support-list{overflow: hidden; padding: 15px 0 40px 0;}
.support-list a{display: block; border: 1px solid #d4d4d4; padding: 30px 20px; width: 32.3%; float: left; margin: 8px 0 8px 1.5%; text-align: center; color: #888888; line-height: 1.5;}
.support-list a:nth-child(3n+1){margin-left: 0;}
.support-list a label{display: block; color: #333; font-size: 18px;}
.support-list a:hover{border-color: #7ba900; color: #7ba900; text-decoration: none;}
.support-list a:hover label{color: #7ba900;}

/*== Contact CSS
========================*/
.map-section, .map{clear: both; margin-bottom: 40px;}
.map-section img{vertical-align: middle;}
.map{float: left; width: 100%;}
#map-canvas{height: 314px;}

.contact-section{padding: 0 0 50px 0;}
.contact-section h1{font-size: 30px; font-weight: bold; color: #333; margin: 0 0 25px 0;}
.contact-section h2{font-size: 22px; font-weight: bold; color: #333; margin: 0 0 25px 0;}

.contact-form{padding: 0 50px 0 0;}
.contact-form input[type='text'], .contact-form input[type='email'], .contact-form textarea{width: 100%; border: 1px solid #d4d4d4; padding: 7px 10px; font-size: 13px; color: #333;}
.contact-form textarea{resize: none; height: 120px;}
.contact-form .col-md-6{margin-bottom: 12px;}
.contact-form .btn{width: 100px; margin-top: 10px; font-weight: bold;}

.contact-address{}
.contact-address ul{margin: 0; padding: 0; list-style: none;}
.contact-address li{margin: 0 0 15px 0; position: relative; padding: 0 0 0 25px;}
.contact-address i.fas{position: absolute; left: 0; top: 2px; font-size: 18px;}
.contact-address i.fas.fa-phone{transform: rotate(90deg);}

/*== User Profile CSS
========================*/
.after-login-header{margin-top: -7px; font-size: 13px;}
.huser-img{width: 41px; height: 41px; border-radius: 50%; overflow: hidden; display: inline-block; vertical-align: middle;}
.header-user{font-weight: bold; display: inline-block; vertical-align: middle; color: #2a95cb;}
.logout{display: inline-block; vertical-align: middle; margin-left: 20px;}
.logout a{/*color: #ddbd24;*/ color:#7ba900; font-weight: bold;}
.logout a:hover{color: #333; text-decoration: none;}
.logout a i{font-size: 15px;}

.user-page{clear: both; overflow: hidden; padding: 0 0 40px 0;}
/*.user-sidebar{width: 295px;}*/
.user-image{}
.user-image img{vertical-align: middle; width: 100%; height: auto;}
.user-sidebar ul.side-menu{padding: 0; margin-bottom: 25px; border: 1px solid #e5e5e5; border-top: none;}
.user-sidebar ul.side-menu li{position: relative;}
.user-sidebar ul.side-menu li:before{display: block; content: ''; border-top: 1px solid #e5e5e5; margin: 0 10px;}
.user-sidebar ul.side-menu li:first-child:before{display: none;}
.user-sidebar ul.side-menu li a{color: #333333; text-decoration: none; font-size: 14px; display: block; padding: 12px 10px; font-weight: bold;}
.user-sidebar ul.side-menu li i{float: right; font-size: 14px; color: #b2b2b2;}
.user-sidebar ul.side-menu li:last-child, .user-sidebar ul.side-menu li:last-child a {border-bottom:0;}
.user-sidebar ul.side-menu li a:hover, .user-sidebar ul.side-menu li.active a{/*background: #7ba900;*/background: #7ba900; color: #FFF; /*color: #fff;*/}
.user-sidebar ul.side-menu li a:hover i, .user-sidebar ul.side-menu li.active i{/*color: #FFF;*/ color: #fff;}

.user-rigtpart{ /*width: 810px;*/ color: #888888; line-height: 1.5;}
.user-rigtpart h1{font-size: 24px; font-weight: bold; color: #333; margin: 0 auto 20px;}
.user-rigtpart h1 span{font-weight: normal; font-size: 14px; color: #888; display: inline-block; vertical-align: middle; margin-left: 15px; float: right;}
.user-rigtpart h1 span i{color: #969696; font-size: 19px; vertical-align: middle; margin-right: 7px;}
.user-type{margin-bottom: 25px;}
.user-detail { float: left; width: 100%; border: 1px solid #f0f0f0; padding: 14px; border-radius:5px;}
.user-detail .u-row{overflow: hidden; margin-bottom: 10px;}
.user-detail label{width: 70px; float: left; font-weight: normal; color: #333;}
/*.user-detail .u-content{margin-left: 85px;}*/
.table-sec .user-detail label { margin-top:0;}
.table-sec .user-detail .u-content { display: inline-block; vertical-align: top;}
.user-rigtpart p{margin: 10px 0;}
.user-rigtpart .input-row{margin-bottom: 20px;}
.user-rigtpart .input-row input[type='text'], .user-rigtpart .input-row textarea{padding: 10px 14px; font-size: 15px; margin: 0; vertical-align: middle;}
.user-rigtpart .input-row textarea{height: 260px; resize: none;}

.user-rigtpart .add-file{display: block; position: relative; border: 1px solid #d4d4d4; padding: 8px 14px; font-size: 15px; color: #333; text-align: center; font-weight: normal; cursor: pointer; font-size: 17px; color: #878787;}
.user-rigtpart .add-file input{position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 0; cursor: pointer;}
.user-rigtpart .add-file span{color: #caab1a;}
.user-rigtpart .add-file i{margin-right: 10px; font-size: 20px; vertical-align: middle;}
/*.user-rigtpart .btn.yellow{width: 120px; padding: 10px; font-weight: bold;}*/
.user-rigtpart{padding-top: 12px;}
.edit-profile-info{padding: 30px 40px 0 0;}
.edit-profile-info form .form-control, .login-sec .form-control {border-radius: 0; box-shadow: none; font-size: 16px; color: #878787; padding: 0 15px; height: 40px; background: #fff;}
.edit-profile-info span{font-size: 14px; margin-top: 3px; color: #333; font-weight: bold; float: left; width: auto; margin-top:15px; color: #878787; margin: 10px 0 7px;}
.edit-profile-info label, .user-detail label, .login-sec .control-label {position: relative; margin-bottom: 0px; margin-top: 14px; font-size: 14px; color: #878787; font-weight: 600; overflow: hidden; float: left; width: 95px;}
.edit-profile-info label input {position: absolute;left: -9999px;top: 0;}
.edit-profile-info label input:checked + .checked::before{ content: ""; position: absolute; left: 4px; top: 4px; height: 12px; width: 12px; background-color: #7ba900; border-radius: 20px;}
.checked { margin-right: 12px; width: 20px; height: 20px; border: 1px #b9b9b9 solid; border-radius: 20px; float: left;}
.edit-profile-info form textarea.form-control{height: auto; padding: 12px 15px; font-size: 12px; color: #888; line-height: 22px;}
.edit-profile-info .choose-file > label, .edit-profile-info label{ font-weight: bold; width: 100%; margin: 0 0 7px; font-size: 14px; /*color: #333;*/ color: #878787;}
.table-sec .edit-profile-info label { margin: 10px auto 0;}
.edit-profile-info .choose-file .input-group{border: 1px #ccc solid; margin: 0 0 20px; box-shadow: none; width: 100%; display: inline-block; text-align: center; padding: 0 15px;}
.edit-profile-info .choose-file .input-group-btn{ float: none; display: inline-block; margin: 0 10px 0 0; width: auto;}
.edit-profile-info .choose-file .input-group-btn .btn{ background-color: transparent; border: 0 none; padding: 0 ; height: auto; line-height: 38px; margin: 0; width: auto;}
.edit-profile-info .choose-file .input-group .form-control{display: inline-block; color: #878787; padding: 0; width: auto; float: none; background-color: transparent;border: 0 none;}
.action{ margin: 20px 0 50px; }
.action .yellow-btn{font-weight: bold; width: 115px; text-align: center; font-size: 16px; height: 41px; line-height: 41px; padding: 0;}
.edit-profile-info .org span{width: 100%; margin: 0 0 8px;}
.edit-profile-info .org label{width: auto; margin-right: 40px;}
.edit-profile-info form select.form-control{ background-image: url("../images/drop.png"); background-position: 97% center; background-repeat: no-repeat; -o-appearance: none;-ms-appearance: none; -webkit-appearance: none; -moz-appearance: none; background-size: 10px;}
.edit-profile-info span.branch{width: 100%;}
.applynow{margin: 60px 0 85px;}
.applynow .yellow-btn{font-size: 18.85px; font-weight: normal;}

.left-sec { padding: 0 15px 0 0;}
.right-sec { padding: 0 0px 0 15px; border-left: 1px solid #e5e5e5;}
.pd0 { padding:0;}
.ideas-listing { margin: 20px auto 0; float: left; width: 100%;}
.ideas-listing li { border-bottom: 1px solid #e5e5e5; margin-bottom:20px; float: left;width:100%;}
.ideas-listing li:last-child, .right-content:last-child { border-bottom:0; margin-bottom:5px;}
.ideas-listing strong { font-weight: bold; color: #333; margin-top: 0; font-size: 20px; display: inline-block; float: left; line-height: 1.8;}
.ideas-listing h4 { color:#7ba900; font-size:14px; font-weight:bold;}
.imgleft_short { float: left; width: 150px; margin: 0 20px 20px 0;}
.right-content h3 { font-size: 20px; font-weight:bold; margin: 0 auto 13px;}
.right-content .left-img { padding: 0 25px 15px 0; float: left;}
.right-content p { color: #878787; line-height: 1.5;}
.right-content { border-bottom: 1px solid #e5e5e5; margin-bottom:0px; padding-bottom:10px;}
.h2.gry-heading { font-size: 20px; font-weight:bold; background: #ccc; padding: 12px 15px; float: left;width:100%;color:#333; margin: 0 auto 15px;}
.winner-sec { float: left; width: 100%; margin: 0 auto 30px;}
.left-sec .content-box { border-bottom:0;}
.ideas-listing .col-md-offset-1 { margin-left: 6%;}

.scroll-sec { max-height: 350px; overflow: auto; overflow-x: hidden;}
.upload-btn { width: calc(100% - 80px); float: right; position: absolute; top: 0; right: 15px; height: 40px; border-radius:0;}
.input-group-btn { z-index: 99;}
.input-group-btn .btn.btn-primary.attach { border-color:#eaeaea; border-right:0; background:#ffffff;}

.img img { max-width:100%;}
.full-form { float: left;width:100%; margin-top: 30px;}
.tick, .tick:hover { display: inline-block; margin-right:0px; font-size: 22px; padding: 5px 20px; color:#888888;}
.tick.green, .tick.green:hover { color: #1cc770;}
.full-form.form-horizontal .form-group { margin:0;}
.full-form.form-horizontal .form-group.comment-sec { margin: 0 auto 20px; display: inline-block; width:100%;}
.full-form .input-row { margin: 20px 15px 0;}
.edit-profile-info label.input-group-btn, .edit-profile-info label.input-group-btn span { margin:0;}
.input-group-btn .btn.btn-primary.attach { height:40px;}
.col-md-12.pull-left.pd10 { padding:10px 15px;}

/*4-4-18*/
.post-page .user-page .row { margin:0 auto;}
.post-page .user-sidebar { padding:0;}
.post-page .post-section { float: left; width: 100%;}
.post-page .user-rigtpart { padding:20px; background: #f2f2f2;}
.post-page .post-section { float: left; width: 100%; padding: 20px; background: #fff;}
.post-page .user-rigtpart h1 { font-size: 19px; font-weight: normal; color: #2a95cb; margin: 0; width: 70%; float: left;}
.post-page .user-rigtpart p.posted { width: 30%; float:right; font-size:12px; color: #c0c0c0; margin: 5px auto;}

.post-page .desc-sec { float: left; width:100%;}
.post-page .desc-sec p { color: #333333; margin:0;}
.post-page .desc-sec .desc { border-bottom: 1px solid #e5e5e5; padding: 20px 0; margin-bottom: 20px;}
.post-page .flex-sec { display: flex; flex-wrap: wrap; margin: 0 auto !important; float: none; border-radius: 3px; border:1px solid #ddd; padding:0; max-width: 600px;}
.post-page .flexi-sec { flex: 1; min-width: 50%; text-align: center; padding:15px;}
.post-page .img-container { border-right: 1px solid #e6e6e6;}
.post-page .img-container img { width: auto; height:auto;max-height:500px; display: inline-block; vertical-align: middle; max-width:100%;}
.post-page .video-container video { width:100%; height:auto; max-height: 500px; display: inline-block; vertical-align: middle; max-width: 500px;}
.post-page .flexi-sec::before { content: ""; display: inline-block; vertical-align: middle; height: 100%; width: 0; margin-left: -0.3em;}
.post-page .comments { display: inline-block; padding: 10px 20px; background: #fff; border-radius: 30px; position: relative; border:1px solid #ddd;}
.post-page .comnt-on { font-weight: normal; font-size: 11px; color: #a8a8a8; text-align: right; float: right; position: absolute; bottom:-20px; left:22px;}
.post-page .hide-xs { display: none;}
.post-page .comment-container { background: #f8f8f8; float: left; width:100%; padding:20px; border:1px solid #e5e5e5; border-radius:3px; margin: 0 auto 20px; max-height: 500px; overflow: auto;}
.post-page .comnt-by { font-weight: bold; color: #2a95cb;}
.post-page textarea.form-control.cmnt-text-area { height: 50px; border-radius: 30px; resize: none; padding: 15px 20px 0; border:1px solid #e5e5e5; box-shadow:none;}
.post-page .full-form .input-row {    margin: 20px 0 0;}

.video-frame { padding: 0px 15px 10px 0;}
.video-frame iframe, .video-img { max-width:100%; height: 100px; padding: 2px; border-radius: 2px; border: 1px solid #ccc;}
.video-sec { margin-bottom:30px; width:100%; padding-right: 15px;}
.video-sec iframe { width:100%; height: 400px;}
.titles {font-size:12px; color: #2a95cb; font-weight:bold; display: inline-block; margin: 5px auto 0; max-height: 53px; overflow: hidden; line-height: 1.1;}
.post-on { color: #878787; font-size:11px; float: left; width:100%;} 
.marketing, .content { padding: 20px; background: #fff; display: inline-block; float: left; margin-top: -5px; border-top: 0; box-shadow: 0 0px 12px -5px rgba(0,0,0,.3); width:100%;}
.search-bar, select.select { padding: 0.4rem .8rem; border: 1px solid #e7e7e7; font-size: 14px; width: 100%; margin: 5px auto 10px; min-height: 40px; height: 40px;}
.filters label { color: #878787; font-weight: normal; font-size: 14px;}
.popular-videos iframe, .popular-videos .video-img { max-width:100%; height: 60px; border:0; border-radius:0; padding:0;}
.popular-videos a { margin: 0;}
.popular-videos .video-frame { padding-bottom:15px;}
.popular-videos { margin-top: 20px;}
/*.marketing { display: flex;}*/
.marketing .left-sec, .right-side, .left-sec { flex:1; min-width: 66.66666667%; border-right: 1px solid #e5e5e5; margin-right:-1px;}
.marketing .right-sec, .sidebar { flex:1; min-width: 33.33333333%;}
.marketing h3, .short-heading, .content-area h3, .user-rigtpart h1, .list-heading { font-size: 18px; color: #2a95cb; padding-bottom: 7px; border-bottom: 1px dotted #e5e5e5; margin-bottom: 20px; margin-top:0; background: #f2f2f2; padding: 10px 15px; float: left; width:100%; font-weight:normal;}
.category-sec ul { padding:0;}
.category-sec ul li a, .side-menu li a, .right-sec ul.side-menu.listings li { display: inline-block; padding: 5px 0px; color: #878787; text-decoration: none; width:100%; border-bottom: 1px solid #f0f0f0;}
.category-sec ul li.active a, .category-sec ul li a:hover, .side-menu li a:hover {color: #ba9e17;}
.category-sec ul li { width:100%; float: left;}
.category-sec, .article-sec, .product-sec { float: left; width:100%; margin-bottom: 30px;}
.marketing .right-sec h3, .short-heading { font-size: 18px; margin: 0 auto 10px;}
.row-sec { padding: 10px 0; float: left;width:100%;}
.filters { margin-bottom: 20px;}
.article-sec .col-sm-12 { padding: 10px 0 0;}
.article-sec p, .short-para { color: #878787; font-size: 13px;}
.article-sec a, .product-sec a, .short-para a { font-weight: bold; font-size: 14px; color: #2a95cb; float: left; width:100%;}
.product-sec { }
.right-sec .scroll-way { max-height: 400px; overflow: auto; float: left; width:100%;}
.popular-videos .scroll-way { float:left; width:100%; max-height: 650px; overflow: auto;}
.edit-profile-info form .form-control, .login-sec .form-control { padding: 0.4rem .8rem; border: 1px solid #e7e7e7; font-size: 14px; width: 100%; margin: 5px auto 10px;}

.user-rigtpart { padding:0;}
/*.content-area h3, .user-rigtpart h1 { color: #aa8d08; border-bottom: 1px dotted #e5e5e5; padding: 10px 0px; font-size: 20px; width: 100%; margin: 0 auto 20px; font-weight:normal;}*/
.text-area { width:100%; border:1px solid #ccc; border-radius:0; box-shadow:none; resize: none; height:100px; padding:10px;}
.marketing h3.short-title { background: none; padding: 20px 0 10px; /*color: #555;*/ margin-bottom: 15px;}
.submit-btn { margin: 15px auto 0; font-weight: bold;}
.comment-row { float: left; width: 100%; padding:10px 0; border-bottom: 1px dotted #e5e5e5; margin-bottom: 10px;}
.user-img { width: 50px; float: left;}
.user-img img { max-width:100%; border-radius: 3px;}
.right-comment { width: calc(100% - 50px); float: left; padding: 0 0 0 15px;}
.cmnt-on { float: right; font-size: 11px; color: #898989;}
.right-comment .name { color: #2a95cb;}
.comment { margin: 10px auto; float: left; width:100%; font-size: 13px; color: #666;}
.comment-row .reply { float: right; width: calc(100% - 90px); padding: 5px 0 5px 10px; border-left: 2px solid #f3f3f3;}
.reply .right-comment { padding-left: 10px; width: calc(100% - 50px;);}
.reply .user-img { width: 50px;}
.reply .comment { margin: 6px auto; float: left; width: 100%; font-size: 12px; color: #8a8a8a;}
.reply-btn { float: right; font-weight: bold; font-size: 12px; color: #878787; margin-top: -10px; text-decoration: none;}

.comments-section .col-sm-2 {     max-width: 90px;}
.view-comments { float: left; width: 100%; margin: 40px auto 0; padding-top: 20px; border-top: 1px solid #f0f0f0;}
.video-title { color: #555; margin-bottom: 15px;}
.article-title { font-size: 25px; color: #2a95cb;}
.post-by .user-name { color: #333; margin: 0 5px; font-size: 11px; vertical-align: top;}
.post-by .post-on { width: auto; vertical-align: top;}
.post-by { padding: 0 0 10px; float: left; width:100%;}
.article-sec a.read-more { display: block; font-size: 12px; color: #666; margin: 10px auto;}
.article-sec .video-sec { margin: 0 auto;}


.product-list {}
.list-section { display: flex; flex-wrap:wrap;}
.list-section .products { flex:1; min-width: 33.3%; max-width: 33.3%; padding: 0 10px 15px; border-bottom: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0;}
.list-section .products:nth-child(3n) { border-right:0;}
.product-name { font-size: 16px; /*color: #969696;*/ color: #2a95cb; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.products { color: #878787; font-size: 12px;}
.products-img { max-height: 140px; overflow: hidden; margin: 10px auto; height: 140px; width:100%; padding: 2px; border: 1px solid #e9e9e9; position: relative;}
.product-img { height: 100px; overflow: hidden; margin: 10px auto; padding: 2px; border: 1px solid #e9e9e9; position: relative;}
.products-img img, .product-img img { object-fit: cover; margin: 0 !important; max-width: none !important; width: 100%; object-position: 50% 50%; height: 100%;}
.product-img img  { width:100%;}
.product-cat { padding: 0 4px;}
.img { width: 100%; height: 100%;}
.products .inner-link { text-decoration: none; color: #878787;}

.read-more { width:100%; float: left; text-align:right;}
.products-img:before, .product-img:before { content: ""; display: inline-block; position: absolute; width: 100%; height: 100%; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0,0,0,0.7); opacity: 0; transition: all 0.4s;}
.products:hover .products-img:before, .product-cat:hover .product-img:before { opacity: 1;}

.mt20 { margin-top: 20px;}
.mail-btn { color: #666; margin: 0 auto 10px; font-size: 13px;}
#send_email, .captcha-sec .form-control, .captcha-sec-1 .form-control { border: 1px solid #d4d4d4; padding: 7px 10px; font-size: 13px; color: #333; width: 250px; margin-right:10px; height: 40px; vertical-align: top; border-radius: 0;}
a.download { display: inline-block; float: right; position: relative; margin: 28px auto 0; padding: 10px 20px; background: #7ba900; border-radius: 3px; color: #fff; font-size: 14px; text-decoration: none; width:auto;color: #fff;}
.send-btn { border-radius: 3px; font-size: 14px; text-decoration: none; font-weight:bold; padding: 9px 20px;}
.prdct-sec { width: 100%; text-align: center; margin: 0 auto 20px; padding: 10px; border: 1px solid #f3f3f3; border-radius: 3px; height: 400px;}
.prdct-sec img { max-width: 100%; max-height: 100%;}
.bottom-sec { border-top: 1px solid #d4d4d4; margin: 20px auto; padding:20px 0;}
.total-views { float: right; vertical-align: top; display: inline-block; color: #fff; font-size: 11px; position: relative;  padding: 5px 28px 4px 15px; /*background: #f15923; border: 1px solid #d13700;*/ background: #7ba900; border: 1px solid #6b9301; border-radius: 30px; top: -6px;}
.total-views strong { border-radius: 50%; /*width: 30px; height: 30px;*/ line-height: normal; display: inline-block; vertical-align: middle; /*background: #f15923;*/ text-align: center; border: 0px solid #0266c6; color: #fff; font-size: 15px; margin: -1px 5px; position: absolute; right: 5px; top: 4px;}
.tags { font-size: 12px; background: #f0f0f0; color: #909090; padding: 5px 20px; border-radius: 18px; text-align: center; border: 1px solid #dedede; display: inline-block; vertical-align: middle;}
.cat-tags label { display: inline-block; vertical-align: middle; position: relative; border-radius: 18px; text-align: center; margin-right: 10px; color: #878787; font-size: 12px;}

.prdct-sec { background: #fff; float: left; width:100%;}
.article-sec th { width: 300px; max-width: 40%; padding: 5px 10px 5px 0; font-size: 13px;}
.article-sec td { padding: 5px 0 5px 10px;}
.article-sec table { max-width:100%;}
.article-sec table tr { border-bottom: 1px solid #f3f3f3;}
.article-sec td p { margin: 0;}

.search-btn { display: inline-block; position: absolute; right:0; top: 5px; width: 40px; height: 40px; background: url(../images/search1.png) no-repeat center center / 20px; border: 0; opacity: 0.2;}
.form-group { position: relative; float: left; width:100%;}
.search-bar { padding-right: 40px;}
.filters .form-group { margin: 0;}
.details { float: left; width: 100%;}
.details dl { display: inline-block; width: 100%; padding: 5px 10px; margin: 0 auto 5px; border-bottom: 1px solid #e5e5e5; color: #878787;}
.details dt, .details dd { display: inline-block; width: auto; min-width: 140px;}

.detail-row, .detail-row tr { display: table; width: 100%;}
.detail-row .th, .detail-row .td { display: table-cell; border-bottom: 1px solid #e5e5e5; padding: 10px 0px 10px 10px; color: #878787; font-weight:bold; width: 169px; margin-right: -4px; max-width: 25%;}
.detail-row .td { font-weight: normal; font-size: 14px;}
.btn.view-btn { background: #969696; border: 1px solid #969696; font-weight: bold; font-size: 12px; color:#fff;}
.view-btn:hover, .btn.view-btn:hover { background: #7ba900; border: 1px solid #7ba900; color: #fff;}
.detail-row tr:last-child .th, .detail-row tr:last-child .td { border-bottom:0;}
.detail-row { margin: 0px auto 30px; float: left;}

.detail-column { color: #878787; clear: both; padding: 10px; margin: 0 auto 20px; border: 1px solid #e5e5e5; border-radius: 5px; box-shadow: 0px 4px 10px -6px rgba(0,0,0,0.4);}
.description-sec p, .description-sec { font-size: 13px; margin: 0 auto 20px;}
.description-sec label { border-bottom: 1px solid #f3f3f3; width: 100%; padding-bottom: 5px; margin-bottom: 10px;}
.mr0, .row.mr0 { margin: 0 auto;}

.list-heading { font-size:16px; margin-bottom: 15px;}
.right-sec ul.side-menu li { float: left; width: 100%; padding: 0 0 15px 0; position: relative;}
.side-menu li i { position: absolute; right: 10px; top: 8px; color: #878787;}
.list-grp { float: left; width: 100%;}
.win-icon { display: inline-block; width: 32px; height: auto; margin: 0 5px 0 10px; opacity: 0.7;}
.win-icon img { max-width:100%;}
.winner-list li { width: 100%; border-bottom: 1px solid #f0f0f0; padding: 7px 0; position: relative; text-transform: uppercase; font-size: 12px; font-weight: bold; letter-spacing: 4px; text-shadow: 2px 2px 0px rgba(0,0,0,0.06);}
.count { width: 20px; height: 20px; background: #0c66ba; border-radius: 50%; font-size: 11px; display: inline-block; text-align: center; line-height: 20px; color: #fff; position: absolute; left: 0; top: 0; font-weight: bold; text-indent: 3px;}  
.winner-list { padding: 0 10px;}
.branches { display: inline-block; float: right; width: 70%; text-align: right;}
.branches .details dl { display: inline-block; width: auto; padding: 5px 10px; margin: 0 auto 5px; border-bottom: 0px solid #e5e5e5; color: #a1a1a1; font-size: 12px; border-right: 1px solid #e5e5e5;}
.branches .details dl:last-child { border-right:0;}
.branches .details dt, .branches .details dd { min-width: 0;}
.list-heading a { width:100%; float: left; text-decoration: underline; color: #2a95cb;}
.list-grp ul.side-menu { margin-bottom: 15px; float: left; width:100%;}
.list-grp ul.side-menu li { padding: 0;}

img { max-width:100%;}
ul.submenu { max-width: 220px;}
th.emply-name { width: 150px;}
#table-2 th, #table-2 td { font-size: 13px; border-bottom: 0; border-color: #e5e5e5;}
.table-sec { padding-left:20px;}
.action-btn a { display: inline-block; width: 32px; height: 24px; background: url(../images/hide1.png) no-repeat center center / 100% auto; position: relative; top: 8px;}
.action-btn a.delete-btn { background: url(../images/trash3.png) no-repeat center center / 24px; top: 7px;}
.action-btn a span { display: none; width: auto; position: absolute; background: rgba(0,0,0,0.8); padding: 2px 5px; color: #fff; font-size: 11px; z-index: 1; transform: translate(-50%, -18px); left: 50%; border-radius: 2px;}
.action-btn a:hover span { display: block;}
.user-rigtpart .edit-profile-info { padding:0;}
.edit-profile-info form .form-control.upload-btn { position: relative; left:0; right:0; margin: -40px auto 10px; padding-left: 60px; left: 2px; max-width: calc(100% - 1px); float: left;}
.edit-profile-info label, .login-sec .control-label { width:100%; cursor: pointer;}

.user-sidebar ul.side-menu li a { color: #878787; text-decoration: none; width: 100%; border-bottom: 1px solid #f0f0f0;}
.side-menu li i { top: 15px;}
.user-sidebar ul.side-menu li:before { border:0;}
.user-image { max-height: 258px; overflow: hidden;}
.img-sec { margin: 20px auto 0; padding: 10px 10px; border: 1px solid #f0f0f0; border-radius: 2px; width:auto; position: relative; left: 142px;}
.labels label { max-width: 50%; float: left; width: auto; margin: 10px 20px 20px 0px; font-size:13px;}
.edit-profile-info .labels span { width:100%; margin: 0 0 7px;}
.edit-profile-info .choose-file .input-group { width: calc(100% - 110px); min-height: 43px; padding: 0 5px 0 0;}
#profilepictext { width: 100%; margin: 0; padding-left: 30px;}
.profile-img { width: 80px; height: 80px; border-radius: 50%; overflow: hidden; display: inline-block; vertical-align: middle; border: 3px solid #e7e7e7;}

.edit-profile-info .choose-file .input-group-btn { position: absolute; left: 0; right:0; width:100%; margin: 0;}
.upload-link { margin: 0 0 0 10px;}
.user-detail label { width: 160px; margin: 0;}

.sec-row { border-top: 1px solid #f6f6f6; padding: 5px 5px; font-size: 12px; float: left; width:100%;}
.sec-row label { margin: 0; width: 200px; display: inline-block; vertical-align: middle;}
.sec-row .desc { width: calc(100% - 220px); display: inline-block; vertical-align: middle;}
.comptetion .title, .challanges .title { width:100%; font-size:16px;}
.comptetion .title i, .challanges .title i { float: right; margin: 5px auto 0;}
/*.comptetion, .challanges { max-height: 900px; overflow: auto; display: inline-block;}*/
.competition, .detail-column { float: left; width:100%;}
.sec-row p { margin: 0;}
.login-sec .panel-default { border:0; color: #878787;}
.login-sec .control-label { text-align: left; padding: 0;}
.para-desc { color: #878787; padding: 0px 0px 0; font-size: 20px;}
.para-desc.top-set { padding: 0 0 5px; float: left; width:100%; margin-bottom: 30px; border-bottom: 1px solid #f6f6f6;}

.panel-body .form-control { border-radius: 0; box-shadow: none; color: #878787; height: 40px; padding: 0.4rem .8rem; border: 1px solid #e7e7e7; font-size: 14px; width: 100%; margin: 5px auto 10px; background: #fff !important;}
.panel-body label, .panel-body .has-error label { position: relative; margin-bottom: 0px; margin-top: 14px; font-size: 14px; color: #878787; font-weight: 600; overflow: hidden; float: left; padding: 0 20px !important; text-align: left !important;}
.panel-default, .panel-default > .panel-heading { border:0; border-radius: 0;}
.form-horizontal .form-group { margin: 0;}
.form-group.mbr { margin-bottom: 20px;}
.panel-body .checkbox { float: left; width: 100%;}
.panel-body .checkbox label { margin: 0;}
.panel-body label sup { font-size: 15px; top: 0; color: #ce0000;}
.help-block strong { color: #ce0000; font-size: 11px; font-weight: normal; top: -4px; display: inline-block; float: left; width: 100%; position: relative;}
.alert-danger { padding:0; background: none; border: 0; font-size: 11px; color: #ce0000;}
.alert-danger ul li { padding: 3px 0;}
.has-error .form-control:focus { border-color: #ce0000; box-shadow: none;}
.edit-profile-info .row { margin: 0;}
.edit-profile-info .col-md-2 { padding: 0;}
/*.edit-profile-info .col-md-12 { padding: 0 5px;}*/ 

.admtxt{color:#6b9301 !important;}

ul.submenu li a:hover { color:#fff !important;}
.footer-col1 { width: 250px; float: left; margin-right: 50px;}
.footer-col2 { max-width:190px;}
footer h3 { margin: 0px 0 8px 0; color: #878787; font-size:14px;}
footer ul { margin-bottom:15px;}
.tag { position: absolute; right: -28px; top: 14px; transform: rotate(45deg); padding: 4px 10px; background: #7ba900; width: 100px; text-align: center; font-size: 10px; text-transform: uppercase; font-weight: bold; letter-spacing: 1px; color: #fff;}
.competition, .detail-column { position: relative; overflow: hidden;}

.edit-profile-info .choose-file .input-group { border: 1px solid #e7e7e7; margin-left:22px;}
footer { margin: 30px auto 0; display: inline-block; width:100%; border-top: 1px solid #f0f0f0;}
.footer-col2 { max-width:none; width: 190px; border-right: 1px solid #f0f0f0; margin-right: 30px; padding-right: 0px;}

.public-challange .edit-profile-info label { top: 15px;}
.faq-page .post-grids .col-md-4 { width:100%;}
.faq-page .post-grids p { margin: 0;}
.faq-page .post-grids h4 { margin: 17px 0 2px; font-weight: bold; text-transform: none; font-size: 17px; color: #7ba900;}
.faq-page {}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { background-color: #7ba900; border-color: #7ba900;}
.overlap { position: absolute; width:100%; height:100%; left:0; right:0; top:0;bottom:0; z-index: 1;}
.video-frame { position: relative;}
.toggle-menu { display: none;}
.marketing .right-sec, .sidebar, .marketing .left-sec, .right-side, .left-sec, .right-sec { float: right;}

.buttons-sec { display: inline-block; position: relative; padding: 20px 0 0;}
.captcha-sec { display: inline-block; width:100%; padding: 20px 0 0; margin: 0;}
.mt10 { margin-top:10px;}
.acc_icon_expand { display: inline-block; width: 10px; height: 18px; background: url(../images/plus.png) no-repeat center center / 100% auto; position: absolute; left: 0; top: 5px;}
.faq-page .post-grids h4 { margin: 5px auto; border-bottom: 1px solid #e5e5e5; padding-bottom:5px; margin-bottom:5px; cursor: pointer;}
.acc_head { display: inline-block; width: 100%; padding-left: 20px; position: relative;}
.acc_active .acc_icon_expand { background: url(../images/minus.png) no-repeat center center / 100% auto;}
.acc_content { padding: 4px 20px;}
.captcha-sec-1 .form-control { width:100%;}
#send_email[type="text"] { width: auto;}
.submit-sec { text-align: right; padding: 20px 15px 20px;}
.bottom-sec.brb { float: left; width:100%;}
.bottom-sec.brb form { float: left; width:100%; border-bottom: 1px solid #d4d4d4;}

.marketing.details h3 { margin: 20px auto 10px;}
img.fig-avatar { max-width: 65px;  border-radius: 3px;} 
.register-form .input-group-btn { width:100%; padding: 0 !important; margin-top: 5px; border: 1px solid #e7e7e7; border-radius: 4px;}
.register-form .btn-primary.attach { border:0;}
.register-form .form-control.upload-btn { position: relative; margin: -40px auto 10px; padding-left: 60px; left: 2px; max-width: calc(100% - 1px); float: left;}
.register-form input[type="file"] { position: absolute; top: 0; z-index: 0; padding-top: 7px; color: #878787; font-weight: normal; left: -32px; font-size: 12px; text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.form-group.mb10 { margin-bottom: 10px;}

.alert.alert-danger { background: #f2f2f2; width: 100%; position: relative; padding:7px;}
.alert.alert-danger li { display: inline-block; width: 100%; font-size: 12px; padding: 5px 10px; margin: 0 auto; color: #cc5d5d;}
.alert.alert-danger .close { position: absolute; right: 6px; top: 4px;}

.competition-details {}
.competition-details .form-group { padding: 0 0 7px 0; margin: 0 auto 20px; border-bottom: 1px solid #e7e7e7; font-size: 12px;}
.competition-details .col-form-label { margin:0;}


.input-group-btn input[type="file"] { display: block !important; left: -26px !important; z-index: 0; position: absolute; top: 1px; bottom: 0; width: 100%; height: 38px; background: #fff; box-shadow: none; outline:0; padding:0; font-weight: normal;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.input-group-btn input[type="file"] { left: -45px !important; padding: 6px 0; height: 38px;}
}
.input-group-btn .btn.btn-primary.attach { position: relative; z-index: 9; width: 50px; padding:0; line-height:38px;}
.input-group.mr0 { margin: 0 auto 30px !important;}
.article-no .title, .detail-column p, .description-sec, .download-sec { padding: 0 4px;}
.sec-row .action { padding: 7px 0;}

.table-sec .edit-profile-info .labels label, .edit-profile-info .labels span { margin: 10px 20px 0 0;}
.edit-profile-info .labels span {}
